altgraph==0.17.2
cffi==1.15.0
chardet==5.0.0
cryptography==36.0.2
cx-Oracle==8.3.0
et-xmlfile==1.1.0
future==0.18.2
greenlet==1.1.2
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.2
pefile==2022.5.30
pure-sasl==0.6.2
pycparser==2.21
PyHive==0.6.5
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymssql==2.2.5
PyMySQL==1.0.2
pyperclip==1.8.2
pypinyin==0.46.0
PySimpleGUI==4.59.0
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
sasl @ file:///D:/%E8%BF%85%E9%9B%B7%E4%B8%8B%E8%BD%BD/sasl-0.3.1-cp39-cp39-win_amd64.whl
schedule==1.1.0
six==1.16.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
thrift==0.16.0
thrift-sasl==0.4.3
xlrd==2.0.1
